/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #fdfdfd;
}
