# editor configs
Properties
.vscode
.editorconfig
.prettierrc
.stylelintrc.json

# code binaries
bin
obj
node_modules
npm-debug.log
log

# docs
*.md
LICENSE

# docker
.docker
.dockerignore
Dockerfile
*/docker-compose*

# repositories
.git
.hg
.svn